@import "../../../utilities/variables.scss";

.footer-design {
  width: 90%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 2rem;

  .footer-container {
    width: 100%;
    height: 200px;
    background-color: #f4f8f9;
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem;
    .info {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
      margin-top: 1rem;
      .info-box {
        width: max-content;
        border-right: 1px solid black;
        display: flex;
        height: 100%;
        justify-content: flex-end;
        align-items: center;

        &.socials {
          border-right: none;
          justify-content: center;
          gap: 1rem;
        }

        p {
          padding-left: 1rem;
        }
      }
    }
    .container{
      margin-top: 4rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .policies{
        .policy{
          border-right: 1px solid black;
          padding-right: .5rem;
        }
      }
    }
  }
}

@media screen and (max-width: '768px') {
  .footer-design {
    .footer-container{
      height: 100%;
      flex-direction: row;
      padding-bottom: 1rem;
      .info{
        font-size: 14px;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 1rem;
        .info-box {
          border-right: none;
          &.socials {
            justify-content: center;
            gap: 1rem;
          }
        }
      }
      .container{
        flex-direction: column-reverse;
        justify-content: center;
        gap: 2rem;
        margin-top: 0rem;
        font-size: 14px;
      }
    }
  }
}