.language-switcher-design {
    position: relative;
    display: inline-block;
  
    .current-language {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  
    .dropdown-content {
      display: flex;
      flex-direction: column;
      position: absolute;
      z-index: 100;
      
      .box {
        display: flex;
        align-items: center;
        padding-top: 2px;
        cursor: pointer;
      }
    }
  }
  