@import "../../../utilities/variables.scss";

.language-switcher-design{
    width: max-content;
    display: flex;
    justify-content: center;
    gap: .5rem;
    .box{
        padding: .1rem;
        border: 1px solid $black;
        cursor: pointer;
    }
}