@import "../../utilities/variables.scss";

.menu-design{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-image: url("../../../static/media/img/spoons.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    .chef-box{
        width: 600px;
        height: 200px;
        margin-right: 10rem;

        .text{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            .chef-title, .chef-menu{
                font-size: 36px;
                font-weight: 700;
            }
            .chef-name{
                font-size: 42px;
                font-weight: 900;
            }
            .img{
                position: absolute;
                top: 80px;
                right: 0px;
            }
        }
    }
    .menu-component{
        width: 600px;
        height: 300px;
        margin-right: 10rem;
        margin-top: 5rem;
    }
}

@media (max-width:744px){
    .menu-design{
        height: 100%;
        min-height: 100vh;
        .chef-box{
            margin: 0 auto;
            width: 100%;
            height: max-content;
            margin-bottom: 5rem;
            .text{
                margin: 0 auto;
                margin-top: 5rem;
                .chef-title{
                    font-size: 20px;
                }
                .chef-name{
                    font-size: 24px;
                }
                .signature{
                    display: none;
                }
            }
        }
        .menu-component{
            background-color:#3e3e3e;
            width: 90%;
            margin: 0 auto;
            height: auto;
            min-height: 90vh;
            padding: 5rem 2rem;
            margin-bottom: 5rem;
            
        }
    }
}


