@import "../../utilities/variables.scss";

.menu-design{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url("../../../static/media/img/spoons.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    .chef-box{
        width: 600px;
        height: 300px;
        margin-right: 5rem;

        .text{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            .chef-title, .chef-menu{
                font-size: 36px;
                font-weight: 700;
            }
            .chef-name{
                font-size: 42px;
                font-weight: 900;
            }
            .img{
                position: absolute;
                top: 80px;
                right: 0px;
            }
        }
    }
}