.home-design{
    .hero-section{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50vh;
        border: 1px solid black;
    }
    .first-section{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40vh;
        border: 1px solid black;
    }
    .second-section{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40vh;
        border: 1px solid black;
    }
}