@import "../../utilities/variables.scss";

.contact-us-design{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to right, #ea1d6f 0%, #eb466b 100%);
}