@import "../../utilities/variables.scss";

.contact-us-design-page{
    padding-top: 10rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f4f8f9;
    .contact{
        height: 85vh;
    }
    h1{
        margin: 0 auto;
    }
}

