@import "../../../utilities/variables.scss";

.navbar{
  width: 100%;
  background-color: transparent;
  padding: 1rem 0rem;
  border-bottom: 2px solid $black;
  position: fixed;
  .navbar-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
  }
}


@media screen and (max-width: '767px') {
  .navbar{
    padding: .5rem 0rem;
    border-bottom: none;
    .menu-action{
      margin-right: 1rem;
      width: 100%;
      display: flex; 
      flex-direction: column;
      align-items: flex-end;
      .burger-menu-icon{
        margin-right: .5rem;
      }
      .mobile-navbar-box{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .list-item{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: right;
          padding: .5rem 0rem;
          margin-right: 2rem;
          .item{
            border-bottom: 1px solid $black;
          }
        }
      }
    }
  }
}