@import "../../../utilities/variables.scss";

.navbar{
  width: 100%;
  background-color: transparent;
  padding: 1rem 0rem;
  position: fixed;
  right: 0;
  display: flex;
  justify-content: flex-end;
  &.scroll{
    background-color: #f4f8f9;
  }
  .navbar-list{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    .list-item{
      width: max-content;
      .item{
       position: relative;
       color: #424242c6;
       font-weight: 500;
       font-size: 18px;
      }
      .item::after{
        content: "";
        position: absolute;
        background-color: #eb466b;
        height: 0.1em;
        left: 0;
        width: 0%;
        bottom: -0.2em;
        transition: 0.5s;
      }
      .item:hover::after{
        width: 100%;
      }
      .item:hover{
        color: black;
      }
    }
  }
}


@media screen and (max-width: '767px') {
  .navbar{
    padding: .5rem 0rem;
    border-bottom: none;
    height: 7vh;
    transition: height 0.5s ease-in-out;
    &.open{
      background-color: #f4f8f9;
      height: 100vh;
      z-index: 20;
    }
    .menu-action{
      margin-right: 1rem;
      width: 100%;
      display: flex; 
      flex-direction: column;
      align-items: flex-end;
      .burger-menu-icon{
        margin-right: .5rem;
      }
      .mobile-navbar-box{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .list-item{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: right;
          padding: .5rem 0rem;
          margin-right: 2rem;

          .language-switcher{
            z-index: 100;
          }
        }
      }
    }
  }
}
