.menu-box{
    ul{
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        margin-top: 1rem;
        li{
            width: max-content;
            text-align: center;
            cursor: pointer;
        }
        .selected-category{
            border-bottom: 1px solid #eb466b;
        }
    }
    .display{
        .box{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 1rem;
            .dish-name{
                margin-left: 1rem;
                width: 90%;
                border-bottom: 1px solid black;
                text-transform: capitalize;
                padding-bottom: .2rem;
                color: #eb466b;
            }
            .dish-price{
                width: 5%;
                font-size: 14px;
            }
            .dish-ingredients{
                margin-left: 1rem;
                text-transform: capitalize;
                font-size: 12px;
                margin-top: .5rem;

            }
        }
    }
}