.slider-container{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5rem;
    .slick-slider{
        .slick-arrow::before{
            color: black;
        }
    }
}

@media screen and (max-width: '767px') {
    .slider-container{
        .slick-slider{
            .slick-arrow{
                display: none !important;
            }
        }
    }
}